.flex {
  display: flex;
}

[class^="flex-"] {
  @extend .flex;
}

.flex-1 {
  flex: 1;
}

.flex-0 {
  flex: 0 !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-align-start {
  align-items: start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-stretch {
  @extend .flex-1;
  align-self: stretch;
  justify-self: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

