.MainContent {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.Search {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2rem;

  & > button {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #10ac84;
    border-radius: var(--radius);
    border: 0;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: .2s ease-in;

    &:hover {
      filter: brightness(1.1);
      transform: scale(1.005);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--border-primary);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.SearchForm {
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color: var(--card-background);
  border-radius: var(--radius);
  border: 1px solid var(--border-primary);
  box-shadow: var(--card-shadow);

  hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--border-primary);
  }
}

.Results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;

  header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--text-s);
    gap: 1rem;
    margin-top: -3.25rem;
    margin-bottom: -0.25rem;
    
    > label {
      color: var(--text-muted);
      font-weight: 500;
    }
  }
}