.Popover {
  position: relative;
  font-weight: 300;
  background-color: var(--card-background);
  border-radius: var(--radius);
  box-shadow: var(--popover-shadow);
  border: 1px solid var(--border-primary);
  padding: 0 0.5rem;
  max-height: var(--radix-popover-content-available-height);
  width: var(--radix-popover-trigger-width);
  min-height: fit-content;
  min-width: fit-content;
  overflow: auto;
  z-index: 9;

  &[aria-disabled="true"]>* {
    opacity: 0.2;
  }
}