.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  > header {
    position: relative;
    font-size: 5rem;
    height: 2em;
    z-index: 1;
    

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url(/bg.jpg);
      background-size: contain;
      animation: 120s slide infinite linear;
      background-repeat: repeat;
    }

    @media screen and (min-width: 800px) {
      position: sticky;
      top: 0;
    }
  }

  &:has([data-results]:not(:empty)) {
    > header {
      font-size: 3rem;
    }
  }

  h1 {
    text-align: center;
    background-color: var(--background-primary);
    mix-blend-mode: lighten;
    line-height: 2em;
    font-size: 1em;
    letter-spacing: -0.085rem;
    color: black;
    user-select: none;

    span {
      display: inline-block;
      height: 1em;
      width: 0.66em;
      background: black;
      border-radius: 2.5rem;
      margin-inline: .25rem;
      border: 0.25rem solid lightgray;
      margin-bottom: -0.5rem;
      transition: 0.25s ease-out;

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 100%;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}