.DestinationView {
  margin-bottom: .25rem;

  header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: var(--border-color);
    cursor: pointer;

    h4 {
      margin: 0;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: .3s ease-out -.1s;
  }

  &[data-open="true"] &__content {
    max-height: 50vh;
    overflow: auto;
    transition: .3s ease-in;
  }

  &[data-disabled="true"] {
    opacity: 0.5;

    header {
      pointer-events: none;
    }
  }
}