.JourneyView {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: var(--background-primary);
    border: 1px solid var(--border-primary);
    border-radius: 100%;
    z-index: 1;
  }

  &::before {
    top: -0.6rem;
    right: 6.4rem;
  }

  &::after {
    bottom: -0.6rem;
    right: 6.4rem;
  }

  &__TotalPrice {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: flex-end;
    justify-content: space-between;
    background: var(--card-background);
    border: 1px solid var(--border-primary);
    border-top: 1px dashed var(--border-primary);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    div {
      display: flex;
      flex-direction: column;

      &:last-child {
        align-items: flex-end;
      }
    }

    span:first-child {
      color: var(--text-muted);
      font-size: var(--text-xs);
    }

    span:last-child {
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-primary);
    }
  }
}