.MainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > header {
    position: relative;
    height: 10rem;
    

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url(/bg.jpg);
      background-size: contain;
      animation: 120s slide infinite linear;
      background-repeat: repeat;
    }
  }

  h1 {
    text-align: center;
    background-color: var(--background-primary);
    mix-blend-mode: lighten;
    line-height: 10rem;
    font-size: 5rem;
    letter-spacing: -0.085rem;

    span {
      display: inline-block;
      height: 1em;
      width: 0.66em;
      background: black;
      border-radius: 2.5rem;
      margin-inline: .25rem;
      border: 0.25rem solid lightgray;
      margin-bottom: -0.5rem;
    }
  }

  main {
    display: flex;
    flex-direction: column;
  }

  &__Content {
    margin-top: 4rem;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}