[class^="flex"] {
  display: flex;
}

.flex-row {
  flex-direction: row !important;
}

.flex-align-start {
  align-items: flex-start !important;
}

.phi-m > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mr-s {
  margin-right: 0.5rem;
}